<div class="d-inline-flex flex-column">
<% post.comments.each do |comment| %>
  <% comment_user = comment.user %>
    <div class="d-flex">
     <div class="mb-3 ml-3">
        <p>コメント者：<%= comment.user.nickname %></p>
        <p>コメント日：<%= comment.created_at.strftime('%Y/%m/%d') %></p>
        <P>コメント：<%= comment.comment %></p>
        <% if current_user == comment_user %>
    	   <%= link_to '削除', post_comment_path(comment.post_id, comment.id), class: 'btn-sm btn-danger', method: :delete, remote: true %>
  	    <% end %>
     </div>
    </div>
  <% end %>
</div>
