<div class="d-inline-flex flex-column">
  <% post.comments.each do |comment| %>
    <% comment_user = comment.user %>
    <div class="d-flex">
      <table class=" text-center mt-3 mb-5">
        <tr>
          <th>コメント者：</th>
          <td><%= comment.user.nickname %></td>
        </tr>
        <tr>
          <th>コメント日：</th>
          <td><%= comment.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <th>コメント：</th>
          <td><%= comment.comment %></td>
        </tr>
        <tr>
          <th></th>
          <td>
         <% if current_user == comment_user %>
    	    <%= link_to '削除', post_comment_path(comment.post_id, comment.id), class: 'btn-sm btn-danger', data: { confirm: "【確認】コメントを削除してもよろしいですか？" }, method: :delete, remote: true %>
  	     <% end %>
  	     </td>
        </tr>
      </table>
    </div>
  <% end %>
</div>


<style media="screen">
    th,td{
      border:1px #333 solid;
      padding:8px 16px;
    }
    table{
      border-collapse: collapse;
      background-color: #4FFFB0;
    }
</style>