   <!-- 天気とジャンルを合わせたテンプレートファイル -->


  <div class='col-lg-3 mt-3 px-4'>
    <h2 class="text-center"><i class="fa-solid fa-cloud-sun fa-beat-fade" style="color: #85dd2c;"></i>天気情報<i class="fa-solid fa-cloud-moon fa-beat-fade" style="color: #85dd2c;"></i></h2>
    <%= render 'public/homes/weather' %>
    <h2 class="text-center">
      <i class="fa-solid fa-otter fa-bounce" style="color: #e684cc;"></i>
      <i class="fa-solid fa-otter fa-flip" style="color: #5c98ff;"></i>
      <i class="fa-solid fa-otter fa-bounce" style="color: #e684cc;"></i>
      <i class="fa-solid fa-otter fa-flip" style="color: #5c98ff;"></i>
      <i class="fa-solid fa-otter fa-bounce" style="color: #e684cc;"></i>
    </h2>
    <%= render 'public/homes/genre', genres: @genres %>
  </div>