<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag "1.jpg", class: "d-block w-75 mx-auto", alt: "..." %>
      </div>
      <div class="carousel-item">
        <%= image_tag "2.jpg", class: "d-block w-75 mx-auto", alt: "..." %>
      </div>
      <div class="carousel-item">
        <%= image_tag "3.jpg", class: "d-block w-75 mx-auto", alt: "..." %>
      </div>
      <div class="carousel-caption d-none d-md-block top-message text-body box mx-auto">
        <p>Welcome to 釣り人淡路へ！<br>このサイトは、釣果情報を共有できるコミュニティサイトサイトになります。<br>
          会員でない方も投稿の閲覧はできますが、<br>投稿を行うには会員登録が必要になります。
        </p>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>

