<div class="container">
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <h1 class="text-center">サイト概要</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-5 text-center">
      <h2 class="text-center">背景</h2>
      <p>釣果情報や釣りスポットを共有し、釣り人のコミュニティ形成を目的としたコミュニティサイト</p>
    </div>
  </div>
</div>