<div class="container">
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <h1 class="text-center">サイト概要</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 mx-auto mt-5">
      <h2 class="text-center">サイトテーマ</h2>
      <p class="text-center mt-5"><span class="sample1">釣果情報や釣りスポットを共有し、釣りの活性化を目的としたコミュニティサイトです。</span></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 mx-auto mt-5">
      <h2 class="text-center">テーマ選定理由</h2>
      <p class="text-center">
        <span class="sample1">
         もともと釣りが趣味で、周りに釣りをする人がいないため一人でよく釣りに行っていたのですが、別の釣りスポ<br>
        ットや釣果情報を共有できる人がいないことに頭を悩ませていました。 そこで淡路島で釣りをする人たちが釣り<br>
        スポットや釣果情報を共有できるサービスがあれば便利だと考えました。 また、淡路島で釣りをしてみたい人や<br>
        釣りをしてみたいと思えるサイトを作成することで人の呼び込みを行うことができ、さらに釣りが活気づくと考え、<br>
        このテーマにしました。
        </span>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 mx-auto mt-5">
      <h2 class="text-center">おすすめユーザー</h2>
      <p class="text-center mt-5">
        <span class="sample1">
        ・現地の釣果情報を確認したい人<br>
        ・新しい釣りスポット開拓したい人<br>
        ・釣果情報を共有できる人を探したい人
        </span>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 mx-auto mt-5">
      <h2 class="text-center">主な利用シーン</h2>
      <p class="text-center mt-5">
        <span class="sample1">
        ・自分が釣りをしている場所の釣果情報を投稿するとき<br>
        ・現地の釣りスポットの釣果情報を確認するとき<br>
        ・釣果情報を他の釣り人と共有するとき​
        </span>
      </p>
    </div>
  </div>
</div>

