<div class="container">
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <h1 class="text-center">About</h1>
      <h6 class="text-center mt-3">aboutpage</h6>
      <div class="text-center mt-3">
      </div>
    </div>
  </div>
</div>