<div class="container">
  <div class="row">
    <div class="col-lg-12 mt-3">
      <%= render 'top_image' %>
      <h3 class="pt-4 pl-4">釣り人～淡路～</h3>
      <p>
        こちらは、淡路島での釣果情報を共有し、<br>
        釣りの活性化を目的とした、コミュニティサイトです。<br>
        投稿の一覧はログインなしでも閲覧可能ですが、<br>
        すべての機能を利用する際は<%= link_to 'こちら',new_user_session_path %>からログインを<br>
        行ってください。
      </p>
    </div>
  </div>
</div>
