<div class="container">
  <div class="row">
    <%= render 'genre', genres: @genres %>
    <div class="col-lg-10">
      <%= render 'top_image' %>
      <h3 class="pt-4 pl-4">新着商品</h3>
      <div class="right">
        <%= link_to "全ての投稿を見る >", posts_path %>
      </div>
    </div>
  </div>
</div>
