<div class="container">
  <div class="row">
    <div class="col-lg-12 mt-3">
      <h1 class="pt-4 pl-4 pb-5 text-center">
        <font color="green">
        <i class="fa-solid fa-fish-fins fa-beat" style="color: #4b7fd8;"></i>
          釣り人～淡路～
        <i class="fa-solid fa-fish-fins fa-beat" style="color: #4b7fd8;"></i>
        </font>
      </h1>
      <!--クロスフェード画像-->
      <%= render 'top_image' %>
      
      <p class="text-center">
        こちらは、淡路島での釣果情報を共有し、<br>
        釣りの活性化を目的とした、コミュニティサイトです。<br>
        ショア釣りでの情報共有をお願いいたします。<br>
        投稿の一覧はログインなしでも閲覧可能ですが、<br>
        すべての機能を利用する際は<%= link_to 'こちら',new_user_session_path %>からログインを行ってください。
      </p>
      <% if current_user = signed_in? %>
      <!--アバウトページはログイン後のルーティングにないため消している-->
      <% else %>
        <p class="text-center">
          また、ヘッダー記載の<%= link_to 'ABOUT', about_path %>より、<br>
          ゲストログイン含むサイト概要を記載しております。
        </p>
      <% end %>
    </div>
  </div>
</div>
