<details class="details js-details">
  <summary class="details-summary">ジャンル一覧▼</summary>
  <div class="details-content">
    <% genres.each do |genre| %>
      <li class="list-group-item border-top:1px solid #666;", style="background-color: #ffff56;">
      	<font size="5" face="Comic Sans MS">
        <%= link_to genre.genre_name, admin_posts_path(genre_id: genre.id) %>
        </font>
      </li>
    <% end %>
  </div>
</details>
