<div class="container pt-5">
  <div class="row pt-5">
    <div class="col-lg-10 mx-auto">
      <h3 class="text-center"><storng>本当に退会しますか?</stong></h3>
      <p class="text-center mt-3">退会すると、会員登録情報が削除されます。<br>
         また、同じメールアドレスでの再登録も不可能となります。<br>
         退会する場合は、「退会する」をクリックしてください。
      </p>
      <div class="text-center">
        <!--ゲストユーザーをユーザーIDで判別して弾いている-->
        <%= link_to "退会しない", user_path(current_user), class:"btn btn-primary" %>
        <% if current_user == User.find_by(params[1]) %>
        <h2 style="color: red">ゲストユーザーは退会できません。</h2>
        <% else %>
        <%= link_to "退会する", withdrawal_user_path(@user), method: :patch, data: { confirm: "【確認】本当に退会してもよろしいですか" }, class:"btn btn-danger" %>
        <% end %>
      </div>
    </div>
  </div>
</div>