<div class="container">
<h3 class="back pb-2"><strong>会員一覧</strong></h3>
  <div class="row">
    <table class="table table_bordered">
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= link_to nickname, user_path(user.id) %></td>
            <td><%= user.email %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @users %>
  </div>
</div>

